// general
$general-black: #202a25;
$general-violet: #5f4bb6;
$general-light-blue: #86a5d9;

// Typography
$general-white: rgb(255, 255, 255);
$general-light-grey: #a3a7a5;

// $font-family-sans-serif: 'Nunito', sans-serif;

// $font-family-Miltonian: 'Miltonian Tattoo';

$font-family: "Poppins", sans-serif;
$font-family: "Ibarra Real Nova", serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

ul li {
    list-style-type: none;
}
