.container.modifica-profilo {
    border: 1px solid $general-violet;
    border-radius: 15px;
    background-color: white;
    form {
        padding: 10px;
        .cs_btn {
            background-color: $general-violet;
            border-color: $general-violet;
            color: white;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba($general-violet, 0.5);
            }
        }     
        .col-lg-5 {
            border-left: 1px solid $general-violet;
            border-right: 1px solid $general-violet;
            padding-bottom: 25px;
        }
        .col {
            padding: 25px;
            .container-photo {
                height: 350px;
                margin: 35px 0 25px 0px;
                #imgPreview {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px;
                    box-shadow: 10px 12px 4px $general-light-blue;
                }
            }
            h3 {
                text-align: center;
                padding: 20px 0;
            }
        }
        .obbligatorio {
            color: red;
        }
                       
    }
}



@media (max-width: 576px) {  
    
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 767px) {
    .modifica-profilo{
        form .col-lg-5 {
            border-left: none;
        }
    }
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .modifica-profilo{
        form .col-lg-5 {
            border-right: none;
        }
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}