#app {
    min-height: 100vh;
    background-color: aliceblue;
    .bg-violet {
        background-color: $general-violet;
        .nav-item a {
            color: $general-violet;
        }
    }
}

#home {
    // background-color:
    height: calc(100vh - 142px);
    .list-group-item.active {
        background-color: $general-violet;
        border-color: $general-violet;
    }
    .tab-pane {
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            box-shadow: 0px 12px 4px $general-light-blue;
            border-radius: 10px;
            object-position: top;
        }
        .cs_btn {
            background-color: $general-violet;
            border-color: $general-violet;
            color: white;
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba($general-violet, 0.5);
            }
        }
        ul {
            list-style: none;
            padding-left: 0;
            li {
                padding: 0.5rem;
                background-color: rgba($general-light-blue, 0.3);

                div {
                    border-bottom: 1px solid $general-violet;
                    h5 {
                        color: $general-violet;
                        text-align: center;
                    }
                    h6 {
                        text-align: center;
                    }
                }
            }
        }
    }
}
