.container.modfica-profile {
    border: 1px solid $general-violet;
    border-radius: 15px;
    box-shadow: 10px 12px 4px $general-light-blue;
}

form {
    padding: 10px;
    .cs_btn {
        background-color: white;
        border-color: $general-violet;
        color: rgb(72, 39, 100);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($general-violet, 0.5);
        }
        &:hover {
            color: white;
            background-color: $general-violet;
        }
    }
    .col-lg-5 {
        border-left: 1px solid $general-violet;
        border-right: 1px solid $general-violet;
        padding-bottom: 25px;
    }
    .col {
        padding: 25px;
        .container-photo {
            height: 350px;
            margin: 35px 0 25px 0px;
            #imgPreview {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 102px;
                box-shadow: 10px 12px 4px $general-light-blue;
            }
        }
        h3 {
            text-align: center;
            padding: 20px 0;
        }
    }
}
body {
}
//.row {

//margin-left: -41px;
//}
.card-body {
    width: 370px;
    //box-shadow: 10px 12px 4px $general-light-blue;
}
//.mt-3 {
//padding-top: 110px !important;
//margin-left: 9px;
//}
