.show{
    border: 1px solid $general-violet;
    border-radius: 15px;
    box-shadow: 10px 12px 4px $general-light-blue;
    img{
        width: 50%;
        height: 400px;
        object-fit: cover;
        margin:  auto;
    }
}

// body {
// }
